/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-image: linear-gradient(to left, #282828 0%, black 100%);
}

/* Ghost-container */

.ghost-container {
  position: fixed;
  pointer-events: none;
  animation: float 5s infinite;
  z-index: 9999;
  transition: all .5s ease !important;
}

@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
}

#ghost-image {
  width: 40px;
  height: auto;
  transition: all 0.1s ease ;
}

.message-bubble {
  position: absolute;
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  color: #333;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  white-space: normal;
  max-width: 500px;
  width: 500px;
  min-height: 40px;
  text-align: left;
  font-size: 14px;
  line-height: 1.4;
}

.message-bubble.show {
  opacity: 1;
  visibility: visible;
}

/* Navigation Bar */

.navibar {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 20px;
    position: -webkit-sticky; 
    position: fixed;
    width: 100%;
    height: 80px;
    top: 0; 
    z-index: 1000; 
   
}
.logo {
  display: flex;
  align-items: center; 
  gap: 10px; 
}label{
  color: #509ff4;
}
.logo label {
  font-size: 1.5em;
  margin: 0; 
}
nav {
    flex: 1;
    text-align: right;
    padding-bottom: 20px;
}
nav ul {
    display: inline-block;
    list-style-type: none;
}
nav ul li {
    display: inline-block;
  margin: 20px;
  transition: 0.5s;
}
a {
    text-decoration: none;
    color: #509ff4; 
}

/* Welcome Section */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  color: #fff;
  max-width: 1200px; /* Adjust this value as needed */
  width: 100%;
  padding: 0px; /* Adds space inside the row */
  box-sizing: border-box;
  text-align: center;
}

.col1 {
  flex: 1;
  min-width: 300px; 
  padding: 20px;
}

.col1 h2 {
  font-size: 50px;
  line-height: 60px;
  margin: 0 0 25px;
}
.all_img {
  filter: drop-shadow(0px 0px 10px #86bcf2);
  max-width: 100%;
  height: auto;
  padding-left: 0px;
}

/* Responsive design */
@media (max-width: 768px) {
  .row {
    flex-direction: column;
  }
  
  .col1 {
    width: 100%;
  }
}

/*footer*/

footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

/* Button underline hover Effect */

.btn {
  position: relative;
  text-decoration: none;
  padding: 10px 20px; 
  display: inline-block;
}
.btn::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-radius: 10px;
  height: 3px; 
  background-color: #509ff4; 
  transform: scaleX(0);
  transform-origin: center; 
  transition: transform 0.3s ease; 
}
.btn:hover::after {
  transform: scaleX(1); 
  transform-origin: center; 
}#dbtn{
  background: #509ff4;
  color: #333;
  border-radius: 5px;
  padding: 10px;
}#dbtn:hover{
  background:#ffffff;
}
.active {
  background: rgba(255, 255, 255, 0.1); 
  backdrop-filter: blur(5px); 
  border-radius: 5px; 
  transition: all .5s ease-in-out;
}

/* View my work Button */

.click{
  background-color: #509ff4;
  border-radius: 5px;
  margin-top: 50px;
  border: none;
  position: relative;
  text-decoration: none;
  padding: 10px 20px; 
  display: inline-block;
  cursor: pointer;
  transition: transform 0.3s ease;
}.click:hover {
  transform: scale(1.1);
  background-color: #509ff4;
}
.menuicon {
    width: 25px;
    display: none;
}
  @media only screen and (max-width: 1050px) {
    nav ul {
      position: absolute;
      top: 70px;
      right: 0px; /* Change left to right */
      background: #ffffff;
      width: 150px;
      overflow: hidden;
      max-height: 0px; /* Ensure menu is initially hidden */
      transition: max-height 0.5s;
      border-radius: 5px;
    }
    nav ul li {
      display: block;
      text-align: center;
    }
    nav ul li a {
      color: #555;
      padding: 10px 0; /* Adjust vertical padding for spacing */
      text-decoration: none; /* Remove underline if desired */
    }
    .menuicon {
      cursor: pointer;
      display: block;
    }img{
      width:300px;
    }
    .logo img{
      width:75px;
    }
    .logo label {
      font-size: 1em;
      margin: 0; 
    }.welcome_img{
      padding-top: 100px;
      padding-left: 0;
    }#dbtn{
      font-size: 10px;
    }
  }
 @media (max-width: 950px) and (max-height: 850px) {
    .message-bubble {
      width: 250px;
    }
}

